@import "themes/catppuccin-mocha.css";

@keyframes blink {
  0% {
    background-color: @surface0;
  }

  50% {
    background-color: @base;
  }

  100% {
    background-color: @suface0;
  }
}
@keyframes batteryWarning {
  0% {
    background-color: @yellow;
  }

  50% {
    background-color: @mantle;
  }

  100% {
    background-color: @yellow;
  }
}
@keyframes batteryUrgent {
  0% {
    background-color: @red;
  }

  50% {
    background-color: @mantle;
  }

  100% {
    background-color: @red;
  }
}

* {
  font-family: 'NotoSans Nerd Font', Roboto, Helveica, Arial, sans-serif;
  font-size: 14px;
  min-height: 0;
  font-weight: bold;
}

#waybar {
  background: @mantle;
  color: @text;
  margin: 5px 5px;
}

/* === HYPR MODULES ============================= */
/* --- Workspaces ----------- */
#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}
#workspaces button {
  color: @mauve;
  padding: 0.4rem;
  border-radius: 0;
}
#workspaces button:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
#workspaces button:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
#workspaces button:hover:not(.active) {
  background-color: @surface1;
}
#workspaces .active {
  color: @mantle;
  background: @mauve;
}
#workspaces .urgent {
  animation: blink 3s linear infinite;
}
/* --- Window --------------- */
#window {
  color: @red;
}

/* === UTILS ==================================== */
#custom-sep {
  color: @overlay0;
  margin: 0 1rem;
}

/* === SYSTEM MODULES =========================== */
#clock {
  color: @green;
  margin-right: 1rem;
}
#pulseaudio {
  color: @red;
}
#cpu {
  margin-right: 1em;
}
#network {
  color: @blue;
  margin-left: 1rem;
}
#cpu,
#memory,
#battery,
#custom-gpu {
  color: @blue;
}
#battery,
#custom-gpu {
  margin-left: 1rem;
}
#custom-power {
  margin-left: 1rem;
  color: @green;
}
#battery.warning {
  animation: batteryWarning 3s linear infinite;
}
#battery.urgent, #battery.critical {
  animation: batteryUrgent 3s linear infinite;
}
#custom-dunst {
  color: @red;
  margin-left: 1rem;
}

/* === OTHER ==================================== */
#custom-music {
  color: @blue;
}
#custom-pacman,
#systemd-failed-units {
  color: @yellow;
}
#custom-pacman {
  margin-left: 1rem;
}
#custom-cpick {
  color: @red;
  margin-left: 1rem;
}
